.cart-icon {
    border-radius: 50%;
    border: 1px solid black;
  }

  .select {
    appearance: none;
    background-image: none;
    /* other styles */
  }

  .card {
    border: none;
    transition: all 0.2s ease-in-out;
  }
  
  .card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: all 0.2s ease-in-out;
  }
  
  .card img {
    height: 200px;
    object-fit: cover;
  }
  
  .card-title {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .card-text {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .my-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: all 0.2s ease-in-out;
  }
  